*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(40, 40, 65);
    color: white;
    display: grid;
    grid-template-columns: auto 704px auto;
    grid-template-rows: auto auto;
    animation: all 1 ease-in-out;
    cursor: not-allowed;
  }
  
.notDragable{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

  #mainTitle{
      grid-column-start: 2;
      grid-row-start: 1;
      text-align: center;
      margin: 50px 0 0 0;
  }
  
  #gameWindow{
    margin: 100px 0 0 0;
    position: relative;
    width: 704px;
    height: 320px;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: rgb(66, 66, 108);
  }

  .clickMaps{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    cursor: default;
  }

  #clickMap-1{
    width: 530px;
    height: 270px;
    margin: 70px 0 0 30px;
  }

  #clickMap-2{
    width: 110px;
    height: 130px;
    margin: 70px 0 0 560px;
  }

  #clickMap-3{
    width: 40px;
    height: 80px;
    margin: 340px 0 0 520px;
  }
  
  .Background{
      position: absolute;
      z-index: 1;
  }
  
  .character{
      position: absolute;
      z-index: 100;
      scale: 2.5;
  }
  
  .foreground{
      position: absolute;
      background-color: white;
      z-index: 1000;
  }
  
 .Background img{
    width: 704px;
  }
  
  #mainCharacter{
  top: 250px;
  left: 395px;
  transition: all 1s ease-in-out;
  }

  #tv{
    width: 80px;
    height: 50px;
    top: 45px;
    left: 410px;
    opacity: 0;
    cursor: help;
  }

  #radio{
    width: 100px;
    height: 100px;
    top: 200px;
    left: 230px;
    opacity: 0;
    cursor: help;
  }

  #up-stairs{
    width: 50px;
    height: 60px;
    top: 390px;
    left: 630px;
    opacity: 0;
    cursor: help;
  }

  #down-stairs{
    width: 50px;
    height: 60px;
    top: 175px;
    left: 630px;
    opacity: 0;
    cursor: help;
  }


  .speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: 60px;
      padding: 2px 5px;
      color: black;
      font-size: 5px;
      left: 8px;
      top: -3px;
      text-align: center;
      opacity: 0;
      transition: all 0.2s ease-in-out;
  }
  
  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 0;
    height: 0;
    scale: 0.5;
    border: 12px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    border-left: 0;
    margin-left: -6px;
    margin-bottom: -7px;
  }

  #downstairs{}

  #upstairs{
    display: none;
  }